---
import { experienceYears } from "../../../data/career";
import Tag from "../../ui/Tag.astro";
import TitleSection from "../../ui/TitleSection.astro";

const technologies = ["React", "TypeScript", "Node.js", "NestJS", "GoLang"];
---

<div class="flex flex-col items-center">
  <div
    class="h-px w-5/6 bg-indigo-900 mask-alpha mask-r-from-black mask-r-from-80% mask-r-to-transparent mask-l-from-black mask-l-from-80% mask-l-to-transparent"
  >
  </div>
</div>

<section
  class="min-h-screen flex flex-col items-center relative overflow-hidden px-32 md:px-20 py-20 justify-center"
  id="about"
>
<TitleSection>
    <span slot="subtitle">Sobre mim</span>
    <span slot="title">Experiência em diversas </span>
    <span slot="highlight">tecnologias</span>
  </TitleSection>

  <div
    class="max-w-6xl mx-auto w-full gap-12 grid items-center md:gap-12 md:grid-cols-[auto_1fr] mt-12"
  >
    <div>
      <p class="text-xl text-gray-400 max-w-lg leading-relaxed mb-4">
        Sou Desenvolvedor Full Stack com mais de {experienceYears} anos de atuação no mercado.
        Já trabalhei em empresas como <a
          href="https://www.iteam.inf.br/"
          class="link"
          target="_parent">ITeam</a
        >, <a href="https://www.sodretox.com.br/" class="link" target="_parent"
          >Sodré</a
        >, <a href="https://www.roberty.app/" class="link" target="_parent"
          >Roberty</a
        > e atualmente estou na <a
          href="https://www.globalsys.com.br/"
          class="link"
          target="_parent">Globalsys</a
        > como outsourcing.
      </p>
      <p class="text-xl text-gray-400 max-w-lg leading-relaxed mb-8">
        Essa diversidade garantiu ampla experiência em diversas tecnologias,
        desde frontend até backend, mobile e desktop.
      </p>
    </div>

    <div class="flex justify-center gap-4 flex-wrap">
      {technologies.map((tech) => <Tag>{tech}</Tag>)}
    </div>
  </div>
</section>
