---
import Divider from '../../ui/Divider.astro';
import TitleSection from '../../ui/TitleSection.astro';
import educationsData from '../../../data/educations.json';
import { GraduationCap } from '@lucide/astro';
import { formatEducationDate } from '../../../utils/date.ts';
---

<Divider />

<section
  class="relative flex min-h-screen scroll-mt-24 flex-col items-center justify-center overflow-hidden px-4 py-16 sm:px-6 lg:px-20 xl:px-32"
  id="education"
  aria-label="Educação e cursos"
>
  <TitleSection>
    <span slot="subtitle">Formação</span>
    <span slot="title">Educação e </span>
    <span slot="highlight">cursos</span>
  </TitleSection>

  <div class="mx-auto grid w-full max-w-6xl grid-cols-1 gap-8 md:grid-cols-3">
    {
      educationsData.map((education) => (
        <div class="h-min rounded-lg border border-indigo-900 bg-gray-800 p-5 transition-all duration-300 hover:border-indigo-700 md:p-6 md:hover:scale-105">
          <div class="mb-4 w-min rounded-lg bg-indigo-900 p-4 text-indigo-500">
            <GraduationCap class="h-6 w-6 text-neutral-100" />
          </div>
          {/* <div class="flex items-center gap-2"> */}
          <h3 class="text-lg font-bold">{education.name}</h3>
          {/* </div> */}
          <p class="my-2 text-lime-600">
            {education.institution}
            {formatEducationDate(education.date) && ` - ${formatEducationDate(education.date)}`}
          </p>
          <p class="text-justify">{education.description}</p>
        </div>
      ))
    }
  </div>
</section>
