---
import Divider from "../../ui/Divider.astro";
import TitleSection from "../../ui/TitleSection.astro";
import educationsData from "../../../data/educations.json";
import { GraduationCap } from "@lucide/astro";
import { formatEducationDate } from "../../../utils/date.ts";
---

<Divider />

<section
  class="min-h-screen flex flex-col items-center justify-center relative overflow-hidden px-32 md:px-20 py-20"
  id="education"
  aria-label="Educação e cursos"
>
  <TitleSection>
    <span slot="subtitle">Formação</span>
    <span slot="title">Educação e </span>
    <span slot="highlight">cursos</span>
  </TitleSection>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-6xl mx-auto w-full">
    {
      educationsData.map((education) => (
        <div class="bg-gray-800 p-6 rounded-lg border border-indigo-900 hover:border-indigo-700 hover:scale-105 transition-all duration-300 h-min">
            <div class="mb-4 p-4 text-indigo-500 bg-indigo-900 rounded-lg w-min">
              <GraduationCap class="w-6 h-6 text-neutral-100" />
            </div>
          {/* <div class="flex items-center gap-2"> */}
            <h3 class="font-bold text-lg">{education.name}</h3>
          {/* </div> */}
          <p class="text-lime-600 my-2">
            {education.institution}
            {formatEducationDate(education.date) && ` - ${formatEducationDate(education.date)}`}
          </p>
          <p class="text-justify">{education.description}</p>
        </div>
      ))
    }
  </div>
</section>
