@import "tailwindcss";

@theme {
  --color-background: hsl(220 20% 10%);
  --color-foreground: hsl(220 10% 88%);
  
  --font-body: "Space Grotesk", system-ui, -apple-system, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground font-body antialiased;
  }

  .primary-text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-r from-lime-600 to-indigo-600;
  }

  .link {
    @apply text-lime-500 hover:text-lime-400 transition-colors duration-300;
  }
}