@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Nuosu+SIL&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #1F262C #1F262C;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #070f15;
  border-radius: 2px;
  border: 2px solid #1F262C;
}

html {
  background-color: #1F262C;
}

.underline-anime {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.underline-anime-color {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#DA0037, #DA0037)
}

.underline-anime:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}