<div class="relative mx-auto w-full max-w-6xl">
  <div
    class="bg-border absolute top-0 bottom-0 left-1.5 mt-2 w-0.5 border border-dashed md:left-1/2 md:-translate-x-px"
  >
  </div>
  <div class="space-y-12">
    <slot />
  </div>
</div>
