<div class="relative max-w-6xl mx-auto w-full">
  <div
    class="absolute bg-border bottom-0 left-1.5 md:-translate-x-px md:left-1/2 top-0 w-0.5 border-dashed border mt-2"
  >
  </div>
  <div class="space-y-12">
    <slot/>
  </div>
</div>
