---
const { index } = Astro.props;

const isEven = index % 2 === 0;

const classItem = !isEven
  ? 'md:direction-ltr text-left'
  : 'md:direction-rtl text-left md:text-right';

const classContainer = isEven ? 'pl-8 md:pl-0 md:pr-12' : 'pl-8 md:col-start-2 md:pl-12';

const classFlex = isEven ? 'md:justify-end' : 'md:justify-start';
---

<div class={`relative grid md:grid-cols-2 gap-4 md:gap-12 ${classItem}`}>
  <div
    class="border-primary bg-background absolute top-1.5 left-0 z-10 h-4 w-4 rounded-full border-2 md:left-1/2 md:-translate-x-1/2"
  >
  </div>
  <div class={classContainer}>
    <div class={`text-xl font-bold text-foreground flex flex-col gap-2 mb-3 ${classItem}`}>
      <slot name="title" />
    </div>
    <div class="text-muted-foreground mb-2 text-sm">
      <slot name="date" />
    </div>
    <div class="text-muted-foreground leading-relaxed">
      <slot name="description" />
    </div>
    <div class={`flex gap-2 flex-wrap mt-4 ${classFlex}`}>
      <slot name="tags" />
    </div>
  </div>
</div>
