<div class="flex flex-col items-center">
  <div
    class="h-px w-5/6 bg-indigo-900 mask-alpha mask-r-from-black mask-r-from-80% mask-r-to-transparent mask-l-from-black mask-l-from-80% mask-l-to-transparent"
  >
  </div>
</div>